::-webkit-scrollbar-thumb {
  display: none;
}

body {
	padding-top:0px;
	background-color: rgb(240, 246, 252);
}
textarea {
	resize:none; 
}
h4 {
	height: 34px;
	line-height: 34px;
}
.btn-toolbar {
	position: absolute;
	left: 15px;
	top: 38px;
	-webkit-app-region: no-drag;
}

.content { 
	position: absolute;
	left: 0px;
	top: 78px;
	width: 100%;
	-webkit-app-region: no-drag;
}

#panel-file-show, #panel-file-list{
	height: 700px;
}

.CodeMirror {
	height: 100%;
}

.modal {
	overflow-y:hidden;
	overflow-x:hidden;
}

.iconButton {
  font-size: 15px;
  font-weight: bold;
  line-height: 15px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}
.iconButton:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}
