body {
	padding-top: 70px; 
	background-color: rgb(240, 246, 252);
}

textarea {
	resize:none; 
}

h4 {
	height: 34px;
	line-height: 34px;
}

/*#panel-file-show, #panel-file-list{
	height: 700px;
}*/

.CodeMirror {
	height: 100%;
}

/*.modal {
	overflow-y:hidden;
	overflow-x:hidden;
}*/
