<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!-- <add name="Intime.WarehousingService.Data.Repositories.WarehousingDbContext" connectionString="Data Source=10.32.11.22,14335;Initial Catalog=WMS;Persist Security Info=True;User ID=scmuser;Password=PB3R7h5d5do0lGI" providerName="System.Data.SqlClient" />-->
    <add name="Intime.WarehousingService.Data.Repositories.WarehousingDbContext" connectionString="Data Source=10.32.11.23,14335;Initial Catalog=WMS;Persist Security Info=True;User ID=Erpdev;Password=erpdev@123" providerName="System.Data.SqlClient" />
    <!--<add name="Intime.WarehousingService.Data.Repositories.WarehousingDbContext" connectionString="Data Source=10.32.11.22,14501;Initial Catalog=WMS;Persist Security Info=True;User ID=scmuser;Password=PB3R7h5d5do0lGI" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>